body {
    margin: 0;
    background-color: #222;
}

.container-fluid {
    background-color: #fff;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#content {
    width: 80%;
}
.price {
    font-size: 48pt;
    color: #993333;
}
.form-style {
    color : #222;
    margin: 20px 0;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
    padding: 0 15px;
}

#reservation_visitors .form-group {
    padding: 0;
}

#add_visitor {
    margin-left: 15px;
}
.btn {
    margin-bottom: 10px;
}

.ticket {
    color: #222;
    min-height: 300px;
    border: solid 1px #222;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    height: 80px;
}



