body {
    margin: 0;
    background-color: #222;
}

.container-fluid {
    background-color: #802929;
}

#content {

}
.form-style {
    background-color: #222;
    color : #fff;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
    padding: 0 15px;
}

#reservation_visitors .form-group {
    padding: 0;
}

#add_visitor {
    margin-left: 15px;
}
.btn {
    margin-bottom: 10px;
}

.ticket {
    color: #fff;
    min-height: 200px;
    border: solid 1px #222;
    margin: 10px 5px;
}



