{% extends "OCPlatformBundle::layout.html.twig" %}

{% block ocplatform_body %}
    <h1>Confirmation de la commande</h1>

    {% set visitors = app.session.get('visitors') %}
    <ul>
        {% for visitor in visitors %}
            <li>
                {{ visitor.firstName }} {{ visitor.lastName }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}