{% extends "OCPlatformBundle::layout.html.twig" %}

{% block ocplatform_body %}
    <h1>Confirmation de la commande</h1>

    <ul>
        {% for visitor in visitors %}
            <li>
                {{ visitor.firstName }} {{ visitor.lastName }} {{ visitor.ticketPrice}}
            </li>
        {% endfor %}
    </ul>
{% endblock %}