{% extends "OCPlatformBundle::layout.html.twig" %}

{% block ocplatform_body %}
    <div class="row text-center">
        <h1>Billetterie</h1>
        <div class="col-md-2"></div>
        <div class="col-md-2 ticket">
            <div class="description">
            <p>Tarif normal</p>
            <p>A partir de 16 ans</p>
            </div>
            <div class="price">16 €</div>
        </div>
        <div class="col-md-2 ticket">
            <div class="description">
            <p>Tarif enfant</p>
            <p>De 4 à 12 ans</p>
            </div>
            <div class="price">8 €</div>
        </div>
        <div class="col-md-2 ticket">
            <div class="description">
            <p>Tarif sénior</p>
            <p>A partir de 60 ans</p>
            </div>
            <div class="price">12 €</div>
        </div>
        <div class="col-md-2 ticket">
            <div class="description">
            <p>Tarif réduit</p>
            <p>étudiants, employés du musée, militaires...</p>
            </div>
            <div class="price">10 €</div>
        </div>
    </div>
<div class="text-center">
    <a href="{{ path('oc_platform_choice') }}" class="btn btn-default">Réservation</a>
</div>
{% endblock %}
