{% extends "OCPlatformBundle::layout.html.twig" %}

{% block ocplatform_body %}

<h1>Paiement</h1>
    {% set price = app.session.get('price') %}
    <div class="nav-space-checkout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <form action="" method="POST">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ stripe_public_key }}"
                                data-amount= {{ price*100 }}
                                data-name="Dollar Shear Club"
                                data-description="Widget"
                                data-image="http://www.louvre.fr/sites/all/themes/louvre/img/data/logo-louvre.jpg"
                                data-locale="auto">
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}